.right_content
  .header
    .item 
      %h1.item__name 
        = @item.name
        %span<>
        の実
      - if @item.race.blank?
      - else
        %p.item__race
          モデル：
          %span<>
          =@item.race
      %p.item__type
        (
        %span<>
        = @item.ability_type.name
        %span<>
        系)
      %p.item__type
        = @item.ability_person
      -if user_signed_in?
        .btn
          .write
            .write__btn
              = link_to new_item_comment_path(params[:id]) do
                = icon('fas', 'pen', class: "write__icon")

          .edit
            = link_to search_items_path, class: "edit__btn" do
              = icon('fas', 'search', class: "edit__icon")
  .comments
    .title
      能力の特徴
    %ul.ability{style: "padding-left: 30px;"}
      - @comments.each do |c|
        .ability__box
          -if c.ability.blank?
          - else
            %li.ability__box--unique
              = c.ability
            .user_name
              writer:
              = c.user.name
    .title
      能力使用者
    %ul.ability{style: "padding-left: 30px;"}
      - @comments.each do |c|
        .ability__box
          -if c.consumer.blank?
          - else
            %li.ability__box--unique
              = c.consumer
            .user_name
              writer:
              = c.user.name
    .title
      必殺技
    %ul.ability{style: "padding-left: 30px;"}
      - @comments.each do |c|
        .ability__box
          -if c.skill.blank?
          - else
            %li.ability__box--unique
              = c.skill
            .user_name
              writer:
              = c.user.name
  -# .next_page
  -#   - next_page = (@item.id) + 1 
  -#   = link_to ">", "items/#{next_page}"
