.right_content
  .header
    .item 
      %h1.item__name 
        = @item.name
        %span<>
        の実
      - if @item.race.blank?
      - else
        %p.item__race
          モデル：
          %span<>
          =@item.race
      %p.item__type
        (
        %span<>
        = @item.ability_type.name
        %span<>
        系)
      -if user_signed_in?
        .btn
          .write
            .write__btn
              = link_to new_item_comment_path(params[:id]) do
                Write

          .edit
            = link_to edit_user_path(current_user) do
              Edit
  .comments
    .title
      能力の特徴
    %ul.ability{style: "padding-left: 30px;"}
      - @comments.each do |c|
        .ability__box
          -if c.ability.blank?
          - else
            %li.ability__box--unique
              = c.ability
            .user_name
              writer:
              = c.user.name
    .title
      能力使用者
    %ul.ability{style: "padding-left: 30px;"}
      - @comments.each do |c|
        .ability__box
          -if c.consumer.blank?
          - else
            %li.ability__box--unique
              = c.consumer
            .user_name
              writer:
              = c.user.name
    .title
      必殺技
    %ul.ability{style: "padding-left: 30px;"}
      - @comments.each do |c|
        .ability__box
          -if c.skill.blank?
          - else
            %li.ability__box--unique
              = c.skill
            .user_name
              writer:
              = c.user.name
