.left_content
  .image
    .image__main
      = form_with(model: [@item, @comment], local: true, class: 'image__select') do |f|
        = f.label :image, class: "image__select--icon" do
          = icon('fas', 'image')
          = f.file_field :image, class: "hidden"
        = f.submit 'send', class: "image__select--btn"
    %ul.image__array
      -@comments.each do |c|
        -if c.image.blank?
        - else
          =image_tag "#{c.image}", class: 'box'
