.left_content
  .image
    .image__main
      -# .image__arrayで選んだ画像が表示される
      %ul.img
        -@images.each do |i|
          -if i.image.blank?
          - else
            %li.img.big
              =image_tag "#{i.image}", class: 'bigbox'
    -if user_signed_in?
      = form_with(model: [@item, @image], local: true, class: 'image__select') do |f|
        = f.label :image, class: "image__select--icon" do
          = icon('fas', 'image')
          = f.file_field :image, class: "hidden"
        = f.submit 'send', class: "image__select--btn"
    .image__array
      -@images.order(id: "DESC").each do |i|
        %label.box(for="box")
          =image_tag "#{i.image}", class: 'box__image'
          %input.sub(type="submit")
